.links a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    top: 400px;
    position: relative;
}

.links a:hover{
    text-decoration: underline;
    
}

body{
    background-image: url(../img/fondo_menu.jpg);
    
    width: 100%;
    
    
}

.titulo_menu{
    position: relative;
    left: 50%;
    color: aliceblue;
    top: 200px;
    font-size: 30px;
    display: flex;
}

body{
    margin: 0;
    display: flex;
}