.gato{
    position: absolute; /* */
    
    top: 190px; 
    
}

.gorrito{
    position: relative; /*  */
    width: 20%;
    top: 10px; /*altura desde abajo*/
    left: 100px; 
}



.contenedor {
    display: flex; /*permite mover y alinear los contenedores  */
}

.volver{
    position: relative;
    left: 500px;
    background-color: antiquewhite;
    width: 200px;
    height: 50px;
    text-align: center;
}